.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
  padding: 0 1rem;
  height: 550px;
}

.title_image {
  width: 400px;
  position: absolute;
  top: auto;
  right: 15vw;
}

.band_image {
  position: absolute;
  top: auto;
  left: 10vw;
  mask-image: linear-gradient(
    to right,
    transparent 10%,
    black 20%,
    black 80%,
    transparent 95%
  );
}

.title,
.logo_band {
  margin-top: -8rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.title_span {
  background: linear-gradient(
    90deg,
    #ff6741,
    #cc4dff
  ); /* Define el degradado */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (width < 1440px) {
  .title_image {
    left: 8vw;
  }
  .band_image {
    aspect-ratio: 16/9;
    max-width: 90vw;
    min-height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

@media (width < 1024px) {
  .main {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .logo_band {
    margin-top: -4rem;
  }
  .band_image {
    width: 700px;
    max-height: 350px;
  }
}

@media (width < 768px) {
  .logo_band {
    z-index: -1;
  }
  .band_image {
    mask-image: linear-gradient(
      to right,
      transparent 5%,
      black 15%,
      black 85%,
      transparent 95%
    );
  }
}
@media (width < 480px) {
  .band_image {
    width: 500px;
    max-height: 200px;
  }
}
